<app-menu pantalla="Juegos" (tituloEvent)="buscar($event)"></app-menu>
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Juegos</ion-title>
      <ion-searchbar placeholder="Nombre" show-clear-button="always" class="search" slot="end"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <ion-buttons>
    <ion-button slot="secondary" (click)="pagAnterior(pagina - 1)">
      Anterior
    </ion-button>
    <ion-button (click)="pagSiguiente(pagina + 1)">
      Siguiente
    </ion-button>
  </ion-buttons>
  <ion-item>
    <ion-label style="text-align: center;">Página: {{ pagina }}</ion-label>
  </ion-item>
  <div class="container" *ngIf="characters">
    <div class="juego" *ngFor="let character of characters">
      <ion-card (click)="verMas(character.id)">
        <img src="{{ character.background_image}}" alt="Juego">
        <ion-card-header>
          <ion-card-title>{{ character.name }}</ion-card-title>
          <ion-card-subtitle>{{ character.rating }}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>